body{
  width: 100%;
  height: 100%;
  font-family: 'roboto', sans-serif;
  background:rgba(0, 0, 0, 0.603) url("dark-anime-girl-long-hair-dark-background-red-eyes-wallpaper-preview.jpg"); 
  background-size: cover;
  background-blend-mode: overlay;
}

h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 3px 3px black;
}

hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
  margin-top: 0px;
}

img{
  width:100%;
  height:100%;
  box-shadow: 5px 5px 10px black;
}

h1 strong{
  margin-top: 200px;
}

.btn {
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  box-shadow: 2px 3px 5px black;
  margin-top:50px;
}


.btn-primary {
  background-color: #1b1c2c;
  border-color: #000000;
  transition: .5s;
  
}

.btn-primary:hover {
    color: black;
  background-color: #020202;
  border-color: white;
  color: #ffffff;
  transition: .5s;
}

.btn-xl {
  padding: 1rem 2rem;
}

@media (max-width: 768px){
   
   strong{
    font-size:2rem;
    margin-top:100px;
    margin-bottom: 50px;
  }
  body{
    background:none;
    border:5px;
    border-color: black;
    background-color: rgb(24, 24, 24);
  }
}

@media (max-width: 425px){
  strong{
    font-size:1.5rem;
  }
  img{
    height:80%;
    margin-top:20px;
    margin-bottom: 10px;
  }
  .btn{
    margin-bottom: 20px;
  }
}